@charset "utf-8";


body{background:#E4F1F1; }
#evaheader{ border-radius:5px; padding:10px; margin-top:10px; color:blue; }

#evaheader p{  text-transform:uppercase;}

.table{ width:80%; margin:auto; background:white;}


	#menu{background-color:green;
	
 border-radius:5px;
  padding:10px;
 
  margin:10px 0px;} 



#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 


#menu ul a {
    display: block;
	text-decoration:none;
	color:white;
	font-size:12px;
	text-align:center;
	text-transform:uppercase;
	padding:5px;
}


#menu li{
	background-color:#A2A4EA;
	border-radius:10px;
	width:80px;
	margin-left:10px;
    display:inline;
	
}


#menu li {
    float: left;
}

#menu a {
    display: block;
}
